{% load static %}
<!-- <header class="header header--loggedIn"> -->
<!-- <div class="container"> -->
<div class="header">
  <h1 class="title-header"><a href="/"<strong> My Note</strong></a> </h1>
  

{% if request.user.is_authenticated %} 
    <b >Welcome {{request.user.username}} </b>
    |<a href="{% url 'logout' %}"> Logout</a> <br><br>
    
 
    {% else %}
    <a href="{% url 'login' %}">Login</a><br><br>

    {% endif %}
    <b>Date & Time: {% now 'jS F Y H:i' %} </b><br>
</div>
<div class="message-danger">
  {% if messages %}
  
  {% for message in messages  %}
    <li>{{ message }}</li>
  {% endfor %}

  {% endif %}
</div>  
<!-- {% if request.user.is_authenticated %}
<h1>{{request.user.username}}</h1> <a href="{% url 'logout' %}">Logout</a> 
 
 {% else %}
<a href="{% url 'login' %}">Login</a>

{% endif %} -->
        <!-- </div>
      </nav>
    </div>
  </header>  -->