{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>My Note</title>
    <meta content="An app by ObaPythonaire to test my knowledge of CRUD functionalities using Django" name="description">
    <meta content="To do, Ogundare Abdulahi, Django, Python, Software Engineer" name="keywords">
</head>
<body>
    <div class="center-column">
    {% include 'header.html' %}
    
       
        {% block content %}
        
        
        {% endblock content %}
    </div>

     {% include 'footer.html' %}   
</body>
</html>